@media (min-width: 1200px) {
  #bonusUserHistoryModal {
    .modal-dialog, .model-body, .modal-content {
      width:1200px !important;
    }
  }
}

#bonusUserHistoryModal {
  .user-history-title {
    h4 {
      font-weight: bold;
    }
    padding: 2px 10px;
  }
  .table-user-history {
    margin-bottom: 0;
  }
}
