.learn-box {
  width: 100%;
  margin-top: 10px;
}

.back-button {
  width: 100%;
  margin-top: 10px;
}

#subject1 {
  margin-top: 0;
}

#cardsetName {
  margin: 0;
}

#cardsetDesc {
  font-style: italic;
}

#cardsetCreated {
  padding-left: 0;
}

#learn-navigation .btn {
  text-overflow: ellipsis;
  overflow: hidden;
}

.learn-cardHelptext {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.memoRate button {
  margin: 5px 0;
}

.answerOptions {
  top: 0;
  z-index: 15;
  padding-left: 0;
  padding-right: 0;
  @media(max-width: 767px) {
    a, button {
      font-size: $font_size_card_navigation_mobile !important;
      padding: $padding_vertical_card_navigation_mobile $padding_horizontal_card_navigation_mobile !important;
    }
  }
}

.disabledAnswer {
  opacity: 0;
}

#boxChart, #boxChartSimulator {
  height: 500px !important;

  @media(max-width: 767px) {
    height: 180px !important;
  }
}
