#setLeitnerProgressCardsetFilter {
  .cardset-details {
    padding: 0 !important;
  }

  .cardset {
    padding-top: 2px !important;
    padding-bottom: 7px !important;
  }

  .label, .badge {
    font-size: $font_size_cardset_badges !important;
  }

  #setCardsetFilter {
    white-space: nowrap!important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

@media (min-width: 1200px) {
  #progressModal {
    .modal-dialog, .model-body, .modal-content {
      width:1200px !important;
    }
  }
}
